@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap'); /* Imported Font Style */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

/* Navbar */

.navbar-color {
  background-color: #820000;
}

/* Main */

main {
  flex: 1;
}

/* Button */

.btn {
  background-color: #820000;
  color: #ffffff;
  border: none;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #820000;
  --bs-btn-active-color: #820000;
}
.btn:hover {
  background-color: #ffffff;
  color: #820000;
  border: 0.3px #820000 solid;
}
.btn:disabled {
  background-color: #820000;
  color: #ffffff;
}

/* Product Card Alignment */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Product Card */

.product-card {
  border: 1px #820000 solid;
}
.product-card-title {
  text-decoration: none;
  color: #212529;
}

/* Product Page Image */

.img-large {
  max-width: 100%;
}

/* Cart Page Image */

.img-thumbnail {
  height: 80px;
}

/* Cart Page Item Name */

.shopping-cart-item-name {
  text-decoration: none;
  color: #212529;
}

/* Cart Page Buttons */

.shopping-cart-button {
  background-color: #ffffff;
  color: #820000;
}
.shopping-cart-button:disabled {
  background-color: #ffffff;
  color: #820000;
}

/* Sign-In Page */

.small-container {
  max-width: 600px;
}

.form-field:focus {
  box-shadow: none;
  border-color: #820000;
}

/* Checkout Steps */

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #820000;
  color: #820000;
}

/* Edit Link (Place Order Tab) */

.card-title-color {
  color: #820000;
  font-weight: bold;
}

.edit-link {
  text-decoration: none;
  color: #820000;
  font-weight: bold;
}

/* Product Card */

/* .product {
  border: 1px #820000 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 350px;
} */

/* Product Card Info */

/* .product-info {
  padding: 1rem;
} */

/* Footer */

footer {
  background-color: #820000;
  color: #ffffff;
  padding: 0.5rem;
}
